<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Joseph An</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  </head>

  <body class="bg-orange-100">
    <div class="max-w-2xl px-4 mx-auto py-6 font-normal text-gray-700 mb-10">
      <script charset="utf-8">
        console.log(
          "Timeline (helps me put time into perspective):\n",
          "\n",
          "Oct, 1995 - Born in Seoul, South Korea.\n",
          "Aug, 2001 - Immigrate to Toronto, ON, CA.\n",
          "Aug, 2009 - Start high school.\n",
          "Apr, 2012 - Get Kindle - maybe the most pivotal moment?.\n",
          "Jul, 2013 - First minimum wage job - buy laptop and quit after 3 months.\n",
          "Sep, 2013 - Take another semester of high school because of poor grades.\n",
          "Sep, 2014 - Take a semester of Electrical Engineering at Ryerson University.\n",
          "Oct, 2015 - First salaried programming job.\n",
          "\n",
          "???, ???? - Help parents retire.\n",
          "???, ???? - Become financially independent (make more than I spend, working for myself).\n",
          "\n",
          "Oct, 2085 - Estimated time of death (if I live to 90).\n",
          "\n",
          "Last updated: Feb, 2020"
        )
      </script>
